html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
.container {
  width: 100%;
  max-width: 1600px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 5px;
}

.logo {
  position: absolute;
  display: block;
  margin: 30px auto;
  width: 150px;
  top: 0;
  left: 30px;
}

header form {
  display: flex;
  gap: 10px;
  margin-top: 80px;
  border-radius: 15px;
}

header input[type="submit"] {
  background-color: #885df1;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
}

header input[type="submit"]:hover {
  background-color: #885df1;
}

header input[type="search"] {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #f9f7fe;
  background-color: #f9f7fe;
  border-radius: 5px;
  width: 400px;
  outline: none;
  transition: border-color 0.3s ease;
}

header input[type="search"]:focus {
  border-color: #885df1;
  box-shadow: 0 0 5px #472f85;
}

hr {
  margin-top: 20px;
  border: 0;
  border-top: 1px solid #f9f7fe;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.current-weather h1 {
  margin: 0;
  size: 70px;
}

.current-weather span {
  font-size: 60px;
  font-weight: bold;
}
.current-weather p {
  color: rgb(156, 156, 156);
  font-size: 20px;
}

strong {
  color: rgb(226, 133, 133);
}
body {
  font-family: "PT Mono", monospace;
  padding: 0 20px;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.weather-forecast-date {
  background: #f9f7fe;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  margin: 0 5px;
}
.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
  margin-bottom: 10px;
}

.weather-forecast-temperatures {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
.pt-mono-regular {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

footer p {
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}

footer a {
  color: #885df1;
}

footer a:hover {
  text-decoration: underline;
}
#weather-icon {
  display: none;
}
#weather-icon.visible {
  display: inline;
}
